body {
  background-color: #469df4;
}

.Main {
  width: 80%;
}

.Centered {
  margin: auto;
  text-align: center;
}

#notready {
  margin: auto;
  width: 100%;
}

.RecText {
  font-size: 1.8em !important;
  border-style: solid;
}

.box {
  display: none;
  margin: auto;
  padding: 10px;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}

#innerContent p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.umbrella {
  display: none;
  font-size: 1.8em !important;
  border-style: solid;
  border-color: red;
}

button {
  background-color: #f0f0f0;
  border-radius:70px;
  height:40px;
  width:190px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.11);
  border-width:0px
}

input[type=text] {
  max-width: 350px;
  width: auto;
  padding: 11px ;
  margin: 8px 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.11);
  border-width:0px;
  text-align: center;
}

#mainTitle {
  text-align: center;
  font-size: 3em;
  color:#ffffff;
  text-shadow: 2px 3px rgba(0,0,0,0.11);
}

ul.tabs{
      width: 100%;
      margin: auto;
			padding: 0px;
			list-style: none;
      text-align: center;
		}
		ul.tabs li{
      border-radius: 10px 10px 0px 0px;
      background: rgba(255, 255, 255, 0.4);
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
      box-shadow: inset 0px -20px 11px -4px rgba(0,0,0,0.11);
      width: 70px
		}

		ul.tabs li.current{
			background: rgba(255, 255, 255, 0.4);
			color: #222;
      box-shadow: none;
		}

		.tab-content{
			display: none;
			background: rgba(255, 255, 255, 0.4);
			padding: 15px;
      box-shadow: 6px 6px 11px -4px rgba(0,0,0,0.11);
		}

		.tab-content.current{
			display: inherit;
		}
